#!/bin/bash
# Setup desktop

set -e

IS_SERVER="{{ .is_server }}"

if [ "$IS_SERVER" == "true" ]; then
  echo "Not a desktop installation, skipping setup..."
  exit 0
fi


echo "=== Install flatpak packages ==="

FLATPAK_PACKAGES=(
  "com.github.tchx84.Flatseal"
  "com.discordapp.Discord"
  "com.google.Chrome"
  "com.spotify.Client"
  "io.missioncenter.MissionCenter"
  "it.mijorus.smile"
)

if [ "$IS_SERVER" == "false" ] && [ "{{ .chezmoi.os }}" == "linux" ]; then
  echo "Ensuring Flathub remote exists..."
  flatpak remote-add --if-not-exists flathub https://flathub.org/repo/flathub.flatpakrepo

  for package in "${FLATPAK_PACKAGES[@]}"; do
    echo "Installing $package..."
    flatpak install -y flathub "$package" || true
  done
else
  echo "Not a Linux desktop installation, skipping flatpak installation..."
fi

echo "=== Flatpak installation complete ==="

echo "=== Installing wallpapers ==="

WALLPAPERS_DIR="$HOME/wallpapers"

if [ -d "$WALLPAPERS_DIR/.git" ]; then
    echo "Updating wallpapers..."
    cd "$WALLPAPERS_DIR"
    git pull
    cd -
else
    echo "Cloning mylinuxforwork/wallpaper..."
    git clone https://github.com/mylinuxforwork/wallpaper "$WALLPAPERS_DIR"
fi

echo "=== Wallpapers installation complete ==="

echo "=== Creating dotfiles cache directory... ==="

if [ "$IS_SERVER" == "false" ] && [ "{{ .chezmoi.os }}" == "linux" ]; then
  CACHE_DIR="$HOME/.cache/dotfiles"
  mkdir -p "$CACHE_DIR"
else
  echo "Not a Linux desktop installation, skipping dotfiles cache directory creation..."
  exit 0
fi

echo "=== Dotfiles cache directory creation complete ==="
