{{ if not (and (.isLinux) (not .is_server)) }}
.config/cava
.config/dotfiles
.config/gtk-3.0
.config/gtk-4.0
.config/hypr
.config/matugen
.config/rofi
.config/solaar
.config/swaync
.config/waybar
.config/waypaper
.config/wlogout
.config/xdg-desktop-portal
.icons
.local
{{ end }}

{{ if not .isDarwin }}
.skhdrc
Library
{{ end }}

{{ if or .isWindows (and (eq (len .packages.cli) 0) (not (and .isDarwin (gt (len .packages.apps) 0)))) }}
.Brewfile
{{ end }}

{{ if not .is_server }}
.config/resticprofile
{{ end }}

{{ if .isWindows }}
Library
.config
.icons
.local
.gitconfig
{{ end }}

README.md
todo.md
