{{- $machineType := promptChoice "Machine type" (list "personal" "gaming" "work") -}}
{{- $isServer := promptBool "Is this a server?" false -}}
{{- $isDarwin := eq .chezmoi.os "darwin" -}}
{{- $isLinux := eq .chezmoi.os "linux" -}}
{{- $isWindows := eq .chezmoi.os "windows" -}}
{{- $isUbuntu := and $isLinux (eq .chezmoi.osRelease.id "ubuntu") -}}

data:
  machine_type: "{{ $machineType }}"
  is_server:    {{ $isServer }}
  git_name:     "{{- if eq $machineType "work" }}Sébastien RUET              {{- else }}ruets           {{- end }}"
  git_email:    "{{- if eq $machineType "work" }}sebastien.ruet@insa-lyon.fr {{- else }}ruets@proton.me {{- end }}"
  isDarwin:     {{ $isDarwin }}
  isLinux:      {{ $isLinux }}
  isWindows:    {{ $isWindows }}
  isUbuntu:     {{ $isUbuntu }}

  packages:
    {{- if not $isWindows }}
    cli:
      - brew "fish"
      - brew "starship"
      - brew "fastfetch"

      - brew "eza"
      - brew "git"
      - brew "commitizen"
      - brew "ripgrep"
      - brew "fzf"
      - brew "fd"
      - brew "less"
      - brew "bat"
      - brew "jq"
      - brew "gum"

      - brew "htop"
      - brew "btop"
      - brew "tmux"
      - brew "neovim"
      - brew "lazygit"
      - brew "yazi"

      - brew "dua-cli"
      - brew "posting"
      - brew "sqlite"
      - brew "libqalculate"
      - brew "pkg-config"

    {{- end }}

    apps:
      - {{-  if $isDarwin }} cask "google-chrome" {{- else if $isLinux }} com.google.Chrome           {{- else if $isWindows }} Google.Chrome           {{ end }}
      - {{-  if $isDarwin }} cask "discord"       {{- else if $isLinux }} com.discordapp.Discord      {{- else if $isWindows }} Discord.Discord         {{ end }}
      - {{-  if $isDarwin }} cask "spotify"       {{- else if $isLinux }} com.spotify.Client          {{- else if $isWindows }} Spotify.Spotify         {{ end }}
      - {{-  if $isDarwin }} cask "1password"     {{- else if $isLinux }} com.onepassword.OnePassword {{- else if $isWindows }} AgileBits.1Password     {{ end }}
      - {{-  if $isDarwin }} cask "qbittorrent"   {{- else if $isLinux }} org.qbittorrent.qBittorrent {{- else if $isWindows }} qBittorrent.qBittorrent {{ end }}
      - {{-  if $isDarwin }} cask "protonvpn"     {{- else if $isLinux }} com.protonvpn.www           {{- else if $isWindows }} Proton.ProtonVPN        {{ end }}

      {{- if $isDarwin }}

      # - skhd
      - cask "kitty"
      - cask "1password-cli"
      - cask "orbstack"
      - cask "font-sauce-code-pro-nerd-font"
      {{- else if $isLinux }}

      - com.github.tchx84.Flatseal
      - org.pwmt.zathura
      - io.github.pwr_solaar.solaar
      - io.github.IshuSinghSE.aurynk
      - io.missioncenter.MissionCenter
      - it.mijorus.smile
      {{- else if and $isWindows (eq $machineType "gaming") }}

      - Logitech.GHUB
      - MedalB.V.Medal
      - RivaFarabi.Deckboard
      - Parsec.Parsec

      - Valve.Steam
      - EpicGames.EpicGamesLauncher
      - Mojang.MinecraftLauncher
      - Overwolf.CurseForge
      - ppy.osu
      {{- end }}

    {{- if and $isLinux (not $isServer) }}

    desktop:
      - kitty

      - hyprland
      - hyprland-qtutils
      - hyprland-plugin-hyprexpo
      - hypridle
      - hyprlock
      - hyprpicker
      - waybar
      - pavucontrol
      - network-manager-applet
      - blueman
      - rofi
      - wlogout
      - matugen
      - sway-notification-center
      - fonts-firacode
      - fonts-jetbrains-mono
      - bibata-cursor-theme
      - tty-clock
      - cava
      - cmatrix
      - waydroid
      - grim
      - slurp
      - swappy
      - mpv
      - kooha
      - obs-studio
      - freerdp-x11

    system:
      - libcairo2-dev               # for waypaper
      - libgirepository-2.0-dev     # for waypaper
      - gobject-introspection       # for waypaper
      - xdg-desktop-portal          # for hyprland
      - xdg-desktop-portal-hyprland # for hyprland
      - xdg-desktop-portal-wlr      # for hyprland
      - xdg-desktop-portal-gtk      # for hyprland
      - pipewire
      - wireplumber
      - brightnessctl
      - acpi
      - cliphist
      - wl-clipboard
      - xclip
    {{- end }}

    npm:

    pip:

    pipx:
    {{- if and $isUbuntu (not $isServer) }}
      - hyprshade
      - waypaper
    {{- end }}

    go-packages:

    go-repos:
    {{- if and $isUbuntu (not $isServer) }}
      - https://github.com/erans/hyprmon.git
    {{- end }}

    cargo:
    {{- if $isUbuntu }}
      - dua-cli
    {{- end }}

    nix:
    {{- if and $isUbuntu (not $isServer) }}
      - awww git+https://codeberg.org/LGFae/awww.git
    {{- end }}
