{{- $hasTaps := gt (len .packages.taps) 0 -}}
{{- $hasCliPackages := gt (len .packages.cli) 0 -}}
{{- $hasMacAppPackages := and .isDarwin (gt (len .packages.apps) 0) -}}
{{- if or $hasTaps $hasCliPackages $hasMacAppPackages -}}
# Brewfile for Homebrew-managed packages.
{{- if $hasTaps }}
# Taps
{{ range .packages.taps -}}
tap "{{ . }}"
{{ end }}
{{- end }}
# CLI packages from .packages.cli. macOS apps from .packages.apps.

{{ range .packages.cli -}}
{{ . }}
{{ end -}}
{{ if .isDarwin -}}
{{ range .packages.apps -}}
{{ . }}
{{ end -}}
{{ end -}}
{{ end -}}
