api: true

experimental:
  plugins:
    sablier:
      moduleName: "github.com/sablierapp/sablier"
      version: "v1.10.1"

providers:
  docker:
    exposedbydefault: false
  file:
    directory: /config/dynamic
    watch: true

entrypoints:
  web:
    address: :80
    http:
      redirections:
        entryPoint:
          to: websecure
  websecure:
    address: :443
    http:
      tls:
        certresolver: mytlschallenge
      middlewares: security-headers@file
  dns-tls:
    address: :853

certificatesresolvers:
  mytlschallenge:
    acme:
      tlschallenge: true
      storage: /letsencrypt/acme.json
